<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://Localhost/atlinvoice</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/atlinvoice</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ConveyanceDBEntities1" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-1TH4N6D\SQLEXPRESS;Initial Catalog=ConveyanceDB;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConveyanceDBEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.ConveyanceDataModel.csdl|res://*/Models.ConveyanceDataModel.ssdl|res://*/Models.ConveyanceDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1TH4N6D\SQLEXPRESS;initial catalog=ConveyanceDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConveyanceDBEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-1TH4N6D\SQLEXPRESS;Initial Catalog=ConveyanceDB;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConveyanceDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1TH4N6D\SQLEXPRESS;initial catalog=ConveyanceDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ATL" Order="5" Enabled="True">
          <Destination Path="Data Source=ripon-pc;Initial Catalog=ATLConveyanceDB;Persist Security Info=True;User ID=sa;Password=atl@sql" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ripon-pc;Initial Catalog=ATLConveyanceDB;User ID=sa;Password=atl@sql" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ATL_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=ripon-pc;Initial Catalog=ATLConveyanceDB;User=sa;Password=atl@sql" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ATLConveyanceBill.Models.ApplicationDbContext, ATLConveyanceBill" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ApplicationServices" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ripon-pc;AttachDbFilename=|DataDirectory|\aspnetdb.mdf;Integrated Security=True;User Instance=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationServices_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=ripon-pc;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ATLConveyanceDBEntities" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ATLConveyanceBill.Models.ATLConveyanceDBEntities, ATLConveyanceBill" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ConveyanceDBEntities2" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=ConveyanceDB;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConveyanceDBEntities2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.ConveyanceModel.csdl|res://*/Models.ConveyanceModel.ssdl|res://*/Models.ConveyanceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=ConveyanceDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ATLConveyanceBill.Models.Entities" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ATLConveyanceBill.Models.Entities, ATLConveyanceBill" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ATLConveyanceDBEntities1" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=RIPON-PC;Initial Catalog=ATLConveyanceDB;Persist Security Info=True;User ID=sa;Password=atl@sql;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ATLConveyanceDBEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model2.csdl|res://*/Models.Model2.ssdl|res://*/Models.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RIPON-PC;initial catalog=ATLConveyanceDB;persist security info=True;user id=sa;password=atl@sql;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationServices-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ATL-Web.config Connection String">
      <ParameterValue>Data Source=ripon-pc;Initial Catalog=ATLConveyanceDB;Persist Security Info=True;User ID=sa;Password=atl@sql</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ATLConveyanceBill.Models.Entities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ATLConveyanceDBEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConveyanceDBEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConveyanceDBEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConveyanceDBEntities2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ATLConveyanceBill.Models.Entities" />
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>