
@{
    ViewBag.Title = "UnauthorizedMessage";
}
<style>
    p {

        font-size: 170%
    }
</style>
<br />
<br />
<br />
<br />
<p class="alert-danger">Illegal Action! You are not allowed to view this information</p>

