<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="css fix" path="*.css" verb="*" type="System.Web.StaticFileHandler" resourceType="File" preCondition="integratedMode" />
        </handlers>
    </system.webServer>
</configuration>
